<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>bar1</string>
		<key>address</key>
		<string>calle 1</string>
		<key>urlPhoto</key>
		<string>http://2.bp.blogspot.com/-AeQZfWlkv0s/TXuSGmpqDbI/AAAAAAAAABg/rNv5WtO6oIc/s1600/bar-la-playa-2.jpg</string>
		<key>longitude</key>
		<real>39495</real>
		<key>latitude</key>
		<real>-3867187</real>
		<key>description</key>
		<string>Bar de copas, ofertas hora feliz</string>
		<key>score</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bar2</string>
		<key>address</key>
		<string>calle 1</string>
		<key>urlPhoto</key>
		<string>http://www.grandhotelcentral.com/content/imgsxml/es/fondos/d-sky-bar-hd.jpg</string>
		<key>longitude</key>
		<real>39495</real>
		<key>latitude</key>
		<real>-3867187</real>
		<key>description</key>
		<string>Bar de copas, ofertas hora feliz</string>
		<key>score</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bar3</string>
		<key>address</key>
		<string>calle 1</string>
		<key>urlPhoto</key>
		<string>http://www.manchesterbars.com/photos/browns-bar400.jpg</string>
		<key>longitude</key>
		<real>39495</real>
		<key>latitude</key>
		<real>-3867187</real>
		<key>description</key>
		<string>Bar de copas, ofertas hora feliz</string>
		<key>score</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bar4</string>
		<key>address</key>
		<string>calle 1</string>
		<key>urlPhoto</key>
		<string>http://www.friendlyrentals.com/FR_imgs/blog/bar-rome.jpg</string>
		<key>longitude</key>
		<real>39495</real>
		<key>latitude</key>
		<real>-3867187</real>
		<key>description</key>
		<string>Bar de copas, ofertas hora feliz</string>
		<key>score</key>
		<string>2.5</string>
	</dict>
</array>
</plist>
